html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        
        title mywit | #{title}
        
        link(rel='shortcut icon' type='image/ico' href='views/img/favicon.ico')
        
        script(http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' https://kit.fontawesome.com/5fb4a61f26.js 'unsafe-inline' 'unsafe-eval';** ")

        link(rel='stylesheet' href='css/base.css')
        link(rel='stylesheet' href='css/login.css')

    body

        // CONTENT
        block content