extends base

block content
    .div__login
        .div__logo
            img(src ='views/img/mywit_logo.png' alt='mywit logo')

        form.form--login
            .div__form--login
                .div__username
                    img.svg-icon(src='views/img/svgicon/user.svg' alt='username icon')
                    input#usn(type='text', name='username', placeholder='username', required)

                .div__password
                    img.svg-icon(src='views/img/svgicon/padlock.svg' alt='username icon')
                    input#pwd(type='password', name='password', placeholder='••••••••', required)

                .div__actions
                    .div__actions--signup
                        a(href='/signup') Sign up
                    .div__actions--forgotpwd
                        a(href='#') Forget password?

                .div__submit
                    button(type='submit') Login