<!DOCTYPE html>
<html>
    <head>
        <title>myWIT Login</title>
        <link rel="stylesheet" href="../css/base.css">
    </head>
    <body>
        <img src="./img/mywit_logo.png">
        <form>
            <label for="usn">Username:</label>
            <input type="text" id="usn" name="username">
            <label for="pwd">Password:</label><br>
            <input type="password" id="pwd" name="password">
        </form>
    </body>
</html>
