mixin menuOption(label, icon, api)
    a(class=`${label.split(' ').join('')}`, href=`${api}`)
        span.nav--icon
            i(class= `fa fa-${icon}` aria-hidden='true')
        span.nav--name= label


.div__sidenav
    ul
        li
            +menuOption('Home', 'home', '/')
        
        if user
            li 
                +menuOption('Create New Post', 'plus','/create-post')
            li
                +menuOption('Profile', 'user-circle', '/me')
            li
                +menuOption('Apps', 'window-restore', '/apps')
            li 
                +menuOption('Sign out', 'sign-out', '#')

        else 
            li
                +menuOption('About', 'info', 'https://wit.edu/')
            li
                +menuOption('Sign up', 'user-o', '/signup')
            li  
                +menuOption('Log in', 'sign-in', '/login')