
.div__sidenav
    ul
        li
            a(herf='#')
                span.nav--icon
                    i.fa.fa-home(aria-hidden='true')
                span.nav--name Home
        li
            a(herf='#')
                span.nav--icon
                    i.fa.fa-id-card-o(aria-hidden='true')
                span.nav--name Profile
        li
            a(herf='#')
                span.nav--icon
                    i.fa.fa-google-wallet(aria-hidden='true')
                span.nav--name Apps
        li
            a(herf='#')
                span.nav--icon
                    i.fa.fa-sign-out(aria-hidden='true')
                span.nav--name Sign Out