.account{
    /* background-color: #f7f7f7; */
    background-color: orange;
    /* padding: 2rem 6rem; */
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    
}

.user-view {
    background-color: #fff;
    max-width: 120rem;
    margin: 0 auto;
    min-height: 100vh;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: -5px 0 5px -5px #333;
}

.user-view__menu {
    -webkit-box-flex: 20rem;
    -ms-flex: 20rem 0 0px;
    flex: 20rem 0 0;
    background-color: orange;
    padding: 4rem 0;
}

.user-view__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5rem 0;
}

.user-view__form-container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 8rem;
}

.account-side-nav {
    list-style: none;
}

.account-side-nav li {
    margin: 1rem 0;
    border-left: 0 solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.account-side-nav--active a {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.account-side-nav a:link,
.account-side-nav a:visited {
    padding: 1rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.account-side-nav--active,
.account-side-nav li:hover {
    border-left: 5px solid #fff !important;
}

.account-side-nav a:hover,
.account-side-nav a:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}

.account-side-nav img {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 2rem;
    margin-left: 0;
}

.avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 90% 10%;
    border-radius: 50%;
    margin-left: 3em;
}


.info-container-header{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: flex-start; /* switched from default (flex-start, see below) */
}

.info-container-header > div {
    height: 220px;
    /* border: 2px dashed red; */
    /* border-bottom: #333; */
}

.info-container-header-left {
    width: 275px;
}

.info-container-header-center {
    width: 600px;
    text-align: start;
    padding: 1.5em;
}

.info-container-header-center #student-witid{
    margin-top: 10px;
    color: rgb(185, 185, 185);
}

.info-container-header-right {
    width: 100%;
    text-align: end;
    padding: 1.5em;
    padding-right: 5em;
}

.info-container-header-right #student-year{
    margin-top: 10px;
    margin-right: 15px;
    color: rgb(185, 185, 185);
}