*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: orange;
  min-height: 100vh;
}

.svg-icon{
  height: 25px;
  margin-bottom: -5px;
  margin-left: 10px;
  margin-right: 5px;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 8.5rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.heading-third {
  font-size: 2rem;
  font-weight: 250;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  /* display: inline-block; */
}

.heading-fourth {
  font-size: 1.2rem;
  font-weight: 100;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  /* display: inline-block; */
}

.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7730),
    to(#eb4d4b)
  );
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

.heading-third--wit {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(orange),
    to(rgb(255, 102, 0))
  );
  background-image: linear-gradient(to right, orange, rgb(255, 102, 0));
  font-size: 2rem;
}

.heading-third--dpt {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(0, 162, 255)),
    to(rgb(0, 68, 255))
  );
  background-image: linear-gradient(to right, rgb(0, 162, 255), rgb(0, 68, 255));
  font-size: 2rem;
}

.liked{
  color: red;
}