.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  .form-group p{
    text-align: center;
    margin-top: 0.5em;
  }
  
  .form-group input,
  .form-group textarea {
     font-size: 18px;
     padding: 10px 20px 10px 5px;
     border: none;
     outline: none;
     background: none;
  }
  
  .form-control{
    font-size: 2rem;
    font-weight: 500;
  }
  
  .body-content {
    font-size: 1.2rem;
    line-height: 1.75;
    color: #292929;
  }
  
  button{
      width: 55%;
      padding: 12px 10px;
      border: none;
      font-size: 20px;
      border-radius: 30px;
      background-color: orange;
      color: #fff;
      transition: .5s;
  }