.div__login,
.div__signup{
    margin: 200px auto;
    width: 500px;
    background-color: white;
    padding: 60px;
    border-radius: 1.5em;
}

.div__logo{
    width: 350px;
    height: 170px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.div__logo img{ 
    width: 100%;
    height: 100%;
    margin: auto;
}

.div__form--login,
.div__form--signup{
    width: 100%;
    margin-top: 30px;
}

.form--login input,
.form--signup input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.div__witid,
.div__username,
.div__email, 
.div__password, 
.div__passwordConfirm{
    display: block;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 7px;
    margin: 20px 0;
}

.div__witid:focus-within,
.div__username:focus-within,
.div__email:focus-within, 
.div__password:focus-within,
.div__passwordConfirm:focus-within{
    outline: none;
    border-bottom: 4px solid orange;
}

.div__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}

.div__submit{
    width: 100%;
    text-align: center;
}

.div__submit button{
    width: 55%;
    padding: 12px 10px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    background-color: orange;
    color: #fff;
    transition: .5s;
}

.div__submit button:hover{
    background-color: rgb(255, 123, 0);
}

form textarea{
    resize: none;
}

.div__post-content{
    width: 100%;
    height: 180px;
    padding: 0 1px 0 1px;
}

.div__post-content textarea{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(218, 218, 218);
    border-top: 2px solid rgb(218, 218, 218);
    padding: 10px;
}

.div__post-content textarea:focus {
    outline: none !important;
    border-top:5px solid orange;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
}

.div__post-attachment input[type="file"] {
    display: none;
}

.form-file-upload{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2px 6px;
    padding-right: 12px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 10px;
}

.form-file-upload img {
    margin-bottom: 1px;
}


