.div__login,
.div__signup{
    margin: 200px auto;
    width: 500px;
    background-color: white;
    padding: 60px;
    border-radius: 1.5em;
}

.div__logo{
    width: 350px;
    height: 170px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.div__logo img{ 
    width: 100%;
    height: 100%;
    margin: auto;
}

.div__form--login,
.div__form--signup{
    width: 100%;
    margin-top: 30px;
}

.form--login input,
.form--signup input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.div__witid,
.div__username,
.div__email, 
.div__password, 
.div__passwordConfirm{
    display: block;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 7px;
    margin: 20px 0;
}

.div__witid:focus-within,
.div__username:focus-within,
.div__email:focus-within, 
.div__password:focus-within,
.div__passwordConfirm:focus-within{
    outline: none;
    border-bottom: 4px solid orange;
}

.svg-icon{
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

.div__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}

.div__submit{
    width: 100%;
    text-align: center;
}

.div__submit button{
    width: 55%;
    padding: 12px 10px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    background-color: orange;
    color: #fff;
    transition: .5s;
}

.div__submit button:hover{
    background-color: rgb(255, 123, 0);
}