.div__login{
    margin: 200px auto;
    width: 500px;
    background-color: white;
    padding: 60px;
    border-radius: 1.5em;
}

.div__logo{
    width: 350px;
    height: 170px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.div__logo img{ 
    width: 100%;
    height: 100%;
    margin: auto;
}

.div__message{
    text-align: center;
    margin-top: 2em;
}

.div__form--login{
    width: 100%;
    margin-top: 30px;
}

.div__form--login input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.div__username, .div__password{
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
    margin: 10px 0;
}

.div__form--login svg{
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
}

.div__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}

.div__form--login .div__submit{
    width: 100%;
    text-align: center;
}

.div__form--login button{
    width: 65%;
    padding: 12px 10px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    background-color: orange;
    color: #fff;
    transition: .5s;
}

.span--alert {
    text-align: center;
    font-weight: 600;
    /* padding: 30px; */
}