.div__post-card  {
    position: relative;
    width:60%;
    height: 230px;
    min-width: 500px;
    margin: 40 auto;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius:20px;
    background-color:#ffffff;
}

.post-card-body {
    height:67%;
    width:100%;
    padding: 20px;
    border: solid #eee;
    border-width:1px 0;
}

.post-card-header{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.post-card-header{
    display: flex;
    height: 15%;
    padding: 5px;
}

.post-card-footer{
    height: 18%;
    /* padding: 10px; */
}

.post-card-header .post-author{
    padding-left: 10px;
    font-weight: bolder;
    color:rgb(0, 76, 255)
}

.post-card-header .post-time{
    /* padding-right: 120px; */
    width: 90%;
    text-align: right;
    color:rgb(170, 170, 170);
}

.post-icon-like{
    display: inline;
    width: 40%;
    height: 100%;
    /* float: right; */
    /* margin-left: 20px; */
    /* padding: 5px 20px; */
    line-height: 1em;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    text-align: center;
}

.post-icon-like svg{
    display: inline;
    width: 30px;
    height: 30px;
    color: black;
}

.svg-icon path{
    fill: rgb(85, 85, 85);
}

.post-like-count{
    display: inline;
    margin: 10;
}

  
.post-card-footer {
    text-align: right;
    background-color: whiteSmoke; 
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

.post-card-footer button{
    outline: none;
    width: auto;
    border: none;
    background-color: transparent;
    text-decoration: none;
    padding: 1px;
    text-align: center;
    color: black;
    transition: all ease 0.5s;
    font-size: 15px;
}

.post-like-count span {
    margin-left: 0.5rem;
}

.post-like-count .fas,
.post-like-count{
    outline: none;
    transition: all ease 0.5s;
}
.post-like-count:focus {
    background-color: transparent;
}
  
.post-like-count:focus .fas,
.post-like-count:focus span {
    color: #8a8a8a;
}
  
.post-like-count:hover {
    border-color: #cc4b37;
    background-color: transparent;
}
  
.post-like-count:hover .fas,
.post-like-count:hover span {
    color: #cc4b37;
}
